<?xml version="1.0"?>
<config>
	<modules>
		<Improntus_Moova>
			<version>1.0.2</version>
		</Improntus_Moova>
	</modules>
	<global>
		<helpers>
			<moova>
				<class>Improntus_Moova_Helper</class>
			</moova>
		</helpers>
		<blocks>
			<moova>
				<class>Improntus_Moova_Block</class>
			</moova>
		</blocks>
		<models>
			<moova>
				<class>Improntus_Moova_Model</class>
			</moova>
		</models>
		<resources>
			<moova_setup>
				<setup>
					<module>Improntus_Moova</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</moova_setup>
			<moova_write>
				<connection>
					<use>core_write</use>
				</connection>
			</moova_write>
			<moova_read>
				<connection>
					<use>core_read</use>
				</connection>
			</moova_read>
		</resources>
		<fieldsets>
			<sales_convert_quote_address>
				<altura>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</altura>
				<piso>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</piso>
				<departamento>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</departamento>
				<observaciones>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</observaciones>
			</sales_convert_quote_address>
			<sales_convert_quote>
				<moova_quote_id>
					<to_order>*</to_order>
				</moova_quote_id>
			</sales_convert_quote>

			<customer_address>
				<altura>
					<to_quote_address>*</to_quote_address>
				</altura>
				<piso>
					<to_quote_address>*</to_quote_address>
				</piso>
				<departamento>
					<to_quote_address>*</to_quote_address>
				</departamento>
				<observaciones>
					<to_quote_address>*</to_quote_address>
				</observaciones>
			</customer_address>
			<sales_copy_order_billing_address>
				<altura>
					<to_quote_address>*</to_quote_address>
				</altura>
				<observaciones>
					<to_quote_address>*</to_quote_address>
				</observaciones>
			</sales_copy_order_billing_address>

		</fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<moova>
					<file>moova.xml</file>
				</moova>
			</updates>
		</layout>
		<translate>
			<modules>
				<Improntus_Moova>
					<files>
						<default>Improntus_Moova.csv</default>
					</files>
				</Improntus_Moova>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<events>
			<adminhtml_widget_container_html_before>
				<observers>
					<moova_solicitar_button>
						<class>Improntus_Moova_Model_Observer</class>
						<type>singleton</type>
						<method>adminhtmlWidgetContainerHtmlBefore</method>
					</moova_solicitar_button>
				</observers>
			</adminhtml_widget_container_html_before>
		</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<moova before="Mage_Adminhtml">Improntus_Moova_Adminhtml</moova>
					</modules>
				</args>
			</adminhtml>
			<Moova>
				<use>admin</use>
				<args>
					<module>Improntus_Moova</module>
					<frontName>Moova</frontName>
				</args>
			</Moova>
		</routers>
	</admin>
	<default>
		<carriers>
			<moova>
				<active>0</active>
				<title>Envios Moova</title>
				<description>Recibí el pedido en tu casa.</description>
				<max_package_weight>100</max_package_weight>
				<model>Improntus_Moova_Model_Carrier_Moova</model>
			</moova>
		</carriers>
		<shipping>
			<moova_webservice>
				<url>https://api-dev.moova.io/</url><!-- https://api-dev.moova.io/ -->
				<dashboard_url>https://dashboard.moova.io/</dashboard_url><!-- https://dev.moova.io/ -->
				 
			</moova_webservice>
			<moova_match_address>
				<moova-map-fullstreet>street</moova-map-fullstreet>
				<moova-map-city>city</moova-map-city>
				<moova-map-region>region</moova-map-region>
				<moova-map-postcode>postcode</moova-map-postcode>
				<moova-map-country>country_id</moova-map-country>
				<moova-map-name>firstname</moova-map-name>
				<moova-map-surname>lastname</moova-map-surname>
				<moova-map-email>email</moova-map-email>
				<moova-map-phone>telephone</moova-map-phone>
			</moova_match_address>
			<moova_tracking>
				<url>https://dashboard.moova.io/external?id=</url>
				<enable_status>1</enable_status>
			</moova_tracking>
		</shipping>
	</default>
</config> 